.dynamic-form-container {
    margin-top: 1rem;
    .mat-input-container {
        display: flex;
        flex-wrap: wrap;
    }
    .button-container {
        display: flex;
        justify-content: center;
        .submit-button {
            margin-top: 2rem;
        }
    }
}